<div class="app">
    <header>
        <%= link_to board_games_path do %>
            <h1> Jeux à em'<strong>portet</strong></h1>
        <% end %>
        <nav></nav>
        <div class="search"><svg><use xlink:href="#ico-search"></use></svg></div>
    </header>
    <div class="detail">
        <div class="board_game">
            <img src=<%= @board_game.image_link %> alt="" class="poster" />
            <div class="title"><%=@board_game.name %></div>
            <div class="info">
                <span class="length">Code barre : <%= @board_game.ean %></span>
            </div>
            <div class="info">
                <span class="year">Nombre de joueurs : <%= @board_game.min_players%>-<%= @board_game.max_players%> </span> 
            </div>
            <div class="info">
                <span class="year">A partir de : <%= @board_game.minimum_age %> ans </span> 
            </div>
            <div class="info">
                <span class="year">Durée : <%= @board_game.length %></span> 
            </div>
            <div class="desc">
                <%= @board_game.description %>    
            </div>
            <% @board_game.games.borrowable.each do |game|%>
                <%=  button_to "Emprunter ce jeu à ... #{game.user.pseudo}",new_board_game_borrowing_path(@board_game), method: :get, params: {game_id: game.id} %>
            <% end %>
        </div>
    </div>
</div>