<div class="app">
    <header>
        <h1>Daily<strong>UI</strong></h1>
        <nav></nav>
        <div class="search"><svg><use xlink:href="#ico-search"></use></svg></div>
    </header>
    <div class="detail">
        <div class="board_game">
            <img src=<%= @board_game.image_link %> alt="" class="poster" />
            <div class="title"><%=@board_game.name %></div>
            <div class="info">
                <span class="length">Code barre : <%= @board_game.ean %></span>
            </div>
            <div class="info">
                <span class="year">Nombre de joueurs : <%= @board_game.min_players%>-<%= @board_game.max_players%> </span> 
            </div>
            <div class="info">
                <span class="year">A partir de : <%= @board_game.minimum_age %> ans </span> 
            </div>
            <div class="info">
                <span class="year">Durée : <%= @board_game.length %></span> 
            </div>
            <div class="desc">
                <%= @board_game.description %>    
            </div>

            <button class="play">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 232.153 232.153" style="enable-background:new 0 0 232.153 232.153;" xml:space="preserve" width="10px" height="10px">
                    <g id="Play">
                        <path style="fill-rule:evenodd;clip-rule:evenodd;" d="M203.791,99.628L49.307,2.294c-4.567-2.719-10.238-2.266-14.521-2.266   c-17.132,0-17.056,13.227-17.056,16.578v198.94c0,2.833-0.075,16.579,17.056,16.579c4.283,0,9.955,0.451,14.521-2.267   l154.483-97.333c12.68-7.545,10.489-16.449,10.489-16.449S216.471,107.172,203.791,99.628z" fill="#FFFFFF"/>
                    </g>
                </svg> play movie
            </button>
        </div>
    </div>
</div>